In [15]:
from fastFM import sgd, als
import numpy as np
from utils.data_frame import DataFrame
import scipy
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [8]:
emart_df = DataFrame('이마트몰').get_FMdata()
print(emart_df.shape)
emart_df.head()

brand&category: 100%|██████████| 12705/12705 [00:03<00:00, 3784.84it/s]
더미 변수 변환 중...: 100%|██████████| 4/4 [00:03<00:00,  1.03it/s]

(12705, 4168)

,**********,007*******,011*******,018*******,01e*******,01h*******,02c*******,02n*******,041*******,048*******,...,프레시지,피양옥,피코크,하늘농가,한국야쿠르트,홈쿡,웨스턴,일식_아시안,중식,한식
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [9]:
emart_review = DataFrame('이마트몰', '리뷰').get_df()
print(emart_review.shape)
emart_review.head()

(12705, 4)

,name,user,star,content
0,모짜렐라 비프라자냐,moo*******,3,흠.. 나는 질보다 양이다 vs ●나는 양보다 질이다● 둘중 어느부류신가요? 이질문...
1,모짜렐라 비프라자냐,jks*******,4,조리법이 아주 간단해서 만족합니다.토마토스파게티 소스에 소고기를 볶은 것 같은데 아...
2,모짜렐라 비프라자냐,des*******,5,"상품이 떨어졌었는지, 플라스틱이 깨져왔지만, 분명 새상품 임에도 박스 밑쪽에 음식찌..."
3,모짜렐라 비프라자냐,pia*******,4,전자렌지에 좀 녹인 후 위에 비닐 떼고 오븐에 돌렸어요. 맛이 괜찮긴 한데 기대했던...
4,모짜렐라 비프라자냐,tae*******,5,파스타는 쉽게 해먹는데 라자냐는 쉽게 해먹기는 어렵잖아요. 할인 하길래 한번 사봤는...

In [13]:
X_csc_sparse = scipy.sparse.csc_matrix(emart_df.values)
y = emart_review['star']

X_train_sparse, X_test_sparse, y_train, y_test = train_test_split(X_csc_sparse, y, test_size=0.2, random_state=42, shuffle=True)
print(X_train_sparse.shape)
print(X_test_sparse.shape)
print(y_train.shape)
print(y_test.shape)

(10164, 4168)
(2541, 4168)
(10164,)
(2541,)

In [16]:
fm = sgd.FMRegression(n_iter=10, init_stdev=0.1, rank=10, l2_reg_w=0.01, l2_reg_V=0.01)
fm.fit(X_train_sparse, y_train.values)

FMRegression(l2_reg_V=0.01, l2_reg_w=0.01, n_iter=10, rank=10)

In [17]:
y_pred = fm.predict(X_test_sparse)

In [22]:
y.values

array(['3', '4', '5', ..., '5', '5', '5'], dtype=object)

In [19]:
y_pred

array([2.45919627, 3.09591399, 3.07112361, ..., 3.03031356, 3.20858951,
       3.46254945])

In [20]:
mean_squared_error(y_test, y_pred)

3.2495612725997782